/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Rules */

:root {
    --border: 1px solid gray;
    --small: 13px;
}

/* Generics */

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.relative {
    position: relative;
}

ul {
    list-style-type: none;
    gap: 20px;
}

a {
    cursor: pointer;
    border: none;
}

.border {
    border: var(--border);
}

.right-30 {
    margin-right: 30px;
}

.top-70 {
    margin-top: 70px;
}

img {
    width: 100%;
    display: block;
}

.black {
    background-color: black;
}

/* Sezione Buttons */

.btn {
    color: white;
    padding: 10px;
    display: inline-block;
    background-color: rgb(0, 97, 255);
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(14, 128, 185);
}

.button-partner:hover {
    background-color: rgb(242, 242, 242);
}

/* Generics Title */

h1,
h2 {
    margin: 20px 0;
}

h1 {
    font-size: 75px;
    text-align: left;
    font-weight: bolder;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h4 {
    font-size: 25px;
    margin: 15px 0 0 15px;
}

h5 {
    font-size: 20px;
    margin: 15px 0;
}

h6 {
    font-size: 15px;
    margin: 15px 0 0px 15px;
}

/* Header */

header .container {
    padding-top: 50px;
}

header {
    background-color: rgb(180, 208, 231);
    margin-bottom: 110px;
}

.navbox {
    height: 80px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 30px;
}

.navbox a {
    text-decoration: none;
    color: black;
    position: relative;
}

.navbox a:hover::after {
    content: '';
    border-bottom: 1px solid;
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
}

.navbox .btn {
    color: white;
    padding: 5px 10px;
}

.navbox ul {
    align-items: center;
}

.text-header>*,
.text-main>* {
    margin-bottom: 40px;
}

.text-header,
.text-main,
.col {
    width: calc(100% / 3);
}

.image-header,
.image-main {
    width: calc(100% / 3 * 2)
}

.text-header,
.image-header {
    height: 380px;
}

.arrow {
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    margin-top: 50px;
    color: black;
}

/* Payment Plan Section */

.checkbox {
    font-size: 15px;
    margin-right: 50px;
}

.checkbox i {
    margin-right: 5px;
}

.checkbox.month i {
    color: blue;
}

.payment-section {
    margin-top: 25px;
}

.col {
    min-height: 100px;
    flex-direction: column;
}

.col.border {
    width: calc(100% / 3 - 20px);
}

.col-w100 {
    margin: 20px 0 0 0;
    min-height: 200px;
    width: 100%;
    flex-direction: column;
}

.col-w100>p {
    margin: 50px 0 50px 15px;
}

.plan-type {
    text-align: center;
    border-bottom: var(--border);
    padding: 5px;
    margin-bottom: 15px;
}

h4~span {
    font-size: var(--small);
    margin: 7px 0 0 15px;
}

h4+span {
    font-weight: bold;
}

h4+span+span {
    color: gray;
    margin-bottom: 50px;
}

.plane-specific>* {
    margin: 20px 0 0 15px;
}

.plane-specific li::before {
    font: var(--fa-font-solid);
    margin-right: 5px;
}

.plane-specific .user::before {
    content: "\f007";
}

.plane-specific .folder::before {
    content: "\f07b";
}

.plane-specific .share::before {
    content: "\f1e0";
    padding-top: 2px;
}

.col.flex>.button-try {
    text-align: center;
    margin-top: 50px;
}

.free-try {
    width: 283px;
    padding: 10px 0;
    margin-bottom: 30px;
    margin-left: 15px;
}

.col-w100>a,
.btn-slogan>a {
    text-align: center;
}

.section-buy {
    margin: 0 0 30px 15px;
    padding-bottom: 50px;
    position: relative;
}

.section-buy::after {
    content: "";
    display: block;
    border-bottom: var(--border);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
}

.plane-benefit>* {
    margin: 20px 0 0 15px;
}

.plane-benefit li::before {
    font: var(--fa-font-solid);
    margin-right: 5px;
}

.plane-benefit .check::before {
    content: "\f00c";
    padding-top: 2px;
    color: rgb(0, 97, 255);
    font-weight: bold;
}

.absolute {
    position: absolute;
    top: 65px;
    right: 39px
}

/* Customer Service Partner */

.reverse {
    flex-direction: row-reverse;
}

.text-main {
    margin-left: 30px;
    padding-right: 15px;
    text-align: left;
}

.text-main>h4 {
    margin: 70px 0 15px 0;
}

.button-partner {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px 15px;
}

/* Card Section */

.card {
    margin-right: 10px;
    padding-right: 30px;
}

/* Clienti che usano dropbox */

.cont-client {
    margin: 70px 0;
}

.cont-client>h2 {
    margin-bottom: 40px;
}

/* Partner Section */

.col-large {
    width: calc(100% / 3);
    height: 600px;
}

.row-large {
    width: 100%;
    height: 200px;
}

.col-large>div>div {
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.col-large>div {
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
    align-items: center;
}

.logo-small {
    filter: invert(100%);
}

.central-col-client {
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    position: relative;
}

.central-col-client>* {
    margin-left: 30px;
}

#cont-desi {
    position: absolute;
    top: 40px;
    left: 0;
    height: 130px;
}

#cont-desi::after {
    content: "";
    display: block;
    border-bottom: 1px solid gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
}

.central-col-client>p {
    margin-bottom: 30px;
    margin-right: 25px;
}

.row-large {
    height: 300px;
    background-color: rgb(180, 208, 231);
    align-items: center;
    justify-content: center;
}

.betw {
    align-items: center;
    justify-content: space-between;
}

.post-slogan {
    width: 250px;
    height: 40px;
    border: none;
}

.faq {
    border-top: 1px solid black;
}

.faq>li {
    padding: 30px 0;
    border-bottom: 1px solid black;
}

.faq>li::after {
    font: var(--fa-font-solid);
    margin-right: 5px;
    content: "\f107";
    margin-left: 350px;
}

/* Background loghi clienti partner */

.designit {
    background-color: rgb(162, 211, 155);
}

.asu {
    background-color: rgb(97, 8, 43);
}

.uf {
    background-color: rgb(0, 147, 206);
}

.topps {
    background-color: rgb(255, 28, 28);
}

.bicycle {
    background-color: rgb(213, 0, 31);
}

.hearst {
    background-color: rgb(180, 208, 231);
}

.lonely {
    background-color: rgb(13, 36, 129);
}

.clear {
    background-color: rgb(255, 216, 48);
}

/* Effetti di Hover sui box clienti */

.designit::before,
.clear::before,
.lonely::before,
.hearst::before,
.topps::before,
.asu::before,
.uf::before,
.bicycle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.designit:hover::before,
.clear:hover::before,
.lonely:hover::before,
.hearst:hover::before,
.topps:hover::before,
.asu:hover::before,
.uf:hover::before,
.bicycle:hover::before {
    border: 20px solid;
}

.designit:hover::before {
    border-color: rgb(209, 233, 205);
}

.clear:hover::before {
    border-color: rgb(255, 238, 71);
}

.asu:hover::before {
    border-color: rgb(82, 13, 37);
}

.uf:hover::before {
    border-color: rgb(0, 175, 244);
}

.topps:hover::before {
    border-color: rgb(255, 63, 63);
}

.bicycle:hover::before {
    border-color: rgb(218, 24, 41);
}

.lonely:hover::before {
    border-color: rgb(26, 64, 154);
}

.hearst:hover::before {
    border-color: rgb(201, 218, 231);
}

/* Effetto Hover sulle Faq */

.faq-hover {
    display: none;
}

.first-hover:hover+.faq-hover {
    display: block;
}

.second-hover:hover+.faq-hover {
    display: block;
}

.third-hover:hover+.faq-hover {
    display: block;
}

.faq>li:hover {
    padding: 30px 0;
    border-bottom: none;
}

/* Footer */

.col-small {
    width: calc(100% / 5);
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.col-small>a {
    color: white;
    text-decoration: none;
}

.abottom {
    margin: 5px;
    font-size: var(--small);
}

.language::after {
    content: "";
    display: block;
    border-bottom: 1px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}

.select-language {
    font-size: var(--small)
}

.col-small.no-height {
    height: 90px;
}

.no-height>span>i {
    padding-right: 5px;
}

.fa-caret-up {
    padding-left: 5px;
}